.venv
.vscode
venv
.env
__pycache__
*.pyc
.pytest_cache
dist/
build/
*.egg-info/
uv.lock

# Media files
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico

# DS-Store
.DS_Store

# Test files
/*.ipynb
test.json
TODO.md

.coverage
